# --- Мои настройки проекта ---
out/
*.class
*.log

# --- Файлы IntelliJ IDEA ---
.idea/
*.iml

# --- Системные файлы ---
.DS_Store
Thumbs.db

# --- Архивы (если будут) ---
*.jar
*.war
*.zip
*.tar.gz

# --- Логи ошибок JVM ---
hs_err_pid*
replay_pid*